<div class="container h-100">
  <div class="row h-100">
    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
      <div class="d-table-cell align-middle">

        <div class="text-center mt-4">
          <h1 class="h2">Get started</h1>
          <p class="lead">
            Start using the best mail service for you.
          </p>
        </div>

        <div class="card shadow-lg p-2">
          <div class="card-body">
            <div class="m-sm-4">
              <form #userForm="ngForm" (ngSubmit)="registerUser(userForm)">
                <div class="form-group">
                  <label>First Name</label>
                  <input class="form-control form-control-lg" ngModel name="firstName" name="firstName" placeholder="Enter your first name" required>
                </div>
                <div class="form-group">
                  <label>Last Name</label>
                  <input class="form-control form-control-lg" ngModel name="lastName"  name="lastName"
                    placeholder="Enter your last name" required>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input class="form-control form-control-lg" ngModel name="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input class="form-control form-control-lg" ngModel name="passowrd" type="password" name="password"
                    placeholder="Enter password" required>
                </div>
                <div class="text-center mt-3">
                  <button [disabled]="userForm.invalid" class="btn btn-lg btn-primary" type="submit" >Sign up</button>
                  <!-- <button type="submit" class="btn btn-lg btn-primary">Sign up</button> -->
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
